.homepage-container {
    display: flex; /* make the container flexible */
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    height: 100vh; /* full height of the viewport */
    background-color: white;
}

.homepage-box {
    text-align: center;
    background-color: orange;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.homepage-title {
    font-size:24px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* space between the buttons */
}

.homepage-button {
    font-size: 16px;
    padding: 10px 20px; /* 10px top and bottom, 20px left and right */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    color: black;
}

.homepage-button:hover {
    background-color: rgb(225, 215, 215); /* Darkens the button's background color */
  }